<launch>

  <let name="device" value="tcp:host=localhost;port=33333"/>
  <let name="port" value="44444"/>

  <node pkg="asebaros" exec="asebaros" args="$(var device) -p $(var port) --ros-args --log-level info" output="screen" required="true">
    <param name="single" value="false"/>
    <rosparam param="nodes">
      thymio_II:
        1: thymio
      *:
        accept_all: false
    </rosparam>
    <rosparam param="script">
      path: $(find asebaros)/launch/example.aesl
      constants:
        CONSTANT_A: 2
    </rosparam>
  </node>
</launch>
