<?xml version="1.0"?>
<launch>

  <arg name="device"/>
  <arg name="motor_speed_deadband" default="10"/>
  <arg name="axis_length" default="0.0915"/>

  <param name="aseba/shutdown_on_unconnect" value="true"/>
  <node pkg="asebaros" type="asebaros" name="asebaros" args="$(arg device)" output="screen" required="True"/>
  <node name="thymio" pkg="thymio_driver" type="thymio_driver_node.py" output="screen" >
    <param name="script" value="$(find thymio_driver)/aseba/thymio_ros.aesl"/>
    <param name="motor_speed_deadband" value="$(arg motor_speed_deadband)"/>
    <param name="axis_length" value="$(arg axis_length)"/>
    <rosparam command="load" ns="left_wheel_calibration" file="$(find thymio_driver)/calibration/left.yaml"/>
    <rosparam command="load" ns="right_wheel_calibration" file="$(find thymio_driver)/calibration/right.yaml"/>
  </node>
</launch>
