<?xml version="1.0"?>
<launch>

  <arg name="device" default="tcp:192.168.1.112;port=33333"/>

  <node pkg="asebaros" type="asebaros" name="asebaros" args="$(arg device)" output="screen" required="True">
    <param name="single" value="true"/>
  </node>
  <param name="script">
    <param name="path" value="$(find-pkg-share asebaros)/launch/example.aesl"/>
    <param name="constants">
      <param name="CONSTANT_A" value="2"/>
    </param>
  </param>
</launch>
