<launch>

  <arg name="device" default="tcp:host=localhost;port=33333"/>
  <arg name="port" value="44444"/>

  <node name="asebaros" pkg="asebaros" type="asebaros" output="screen">
    <param name="include_id_in_events" value="true"/>
    <param name="maximal_number_of_nodes" value="0"/>
    <param name="port" value="$(arg port)"/>
    <param name="reload_script_on_reconnect" value="true"/>
    <param name="set_id_variable" value="false"/>
    <param name="shutdown_on_unconnect" value="false"/>
    <rosparam param="targets" subst_value="true">
      ["$(arg device)",]
    </rosparam>
    <rosparam param="nodes">
      any:
        accept: false
        prefix: node_
        accept: true
    </rosparam>
    <rosparam param="script" subst_value="true">
      path: $(find asebaros_examples)/launch/twin_nodes.aesl
      constants:
        MY_CONSTANT: 3
    </rosparam>
  </node>
</launch>
