<launch>

  <arg name="device" default="tcp:host=localhost;port=33333"/>
  <arg name="port" value="44444"/>

  <node name="asebaros" pkg="asebaros" type="asebaros" output="screen">
    <param name="include_id_in_events" value="false"/>
    <param name="maximal_number_of_nodes" value="2"/>
    <param name="port" value="$(arg port)"/>
    <param name="reload_script_on_reconnect" value="true"/>
    <param name="set_id_variable" value="true"/>
    <param name="shutdown_on_unconnect" value="false"/>
    <rosparam param="targets" subst_value="true">
      ["$(arg device)",]
    </rosparam>
    <rosparam param="nodes">
      others:
        accept: false
      thymio:
        type: thymio-II
        id_variable: _id
        accept: false
      thymio_21181:
        id: 21181
        type: thymio-II
        accept: true
        name: first_thymio
      thymio_14031:
        id: 14031
        type: thymio-II
        accept: true
        name: second_thymio
    </rosparam>
    <rosparam param="script" subst_value="true">
      path: $(find asebaros_examples)/launch/two_thymios.aesl
    </rosparam>
  </node>
</launch>
