<launch>

  <arg name="device" default="tcp:host=localhost;port=33333"/>
  <let name="port" value="44444"/>

  <node name="asebaros" pkg="asebaros" type="asebaros" output="screen">
    <param name="include_id_in_events" value="false"/>
    <param name="maximal_number_of_nodes" value="2"/>
    <param name="port" value="$(arg port)"/>
    <param name="reload_script_on_reconnect" value="true"/>
    <param name="set_id_variable" value="false"/>
    <param name="shutdown_on_unconnect" value="false"/>
    <rosparam param="targets" subst_value="true">
      [$(arg device),]
    </rosparam>
    <rosparam param="nodes">
      others:
        accept: false
      thymio:
        type: thymio-II
        id_variable: _id
        accept: true
        name: thymio
      epuck:
        type: e-puck0
        id_variable: id
        accept: true
        name: epuck
    </rosparam>
    <rosparam param="script">
      path: $(find asebaros_examples)/launch/two_nodes.aesl
      constants:
        MY_CONSTANT_THYMIO: 3
        MY_CONSTANT_EPUCK: 333
    </rosparam>
  </node>
</launch>
